
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    font-family: 'Poppins' !important;
    height:100%;
    min-height:100%;
    overflow-y: auto;
}


.login-bg {
    background: linear-gradient(360deg, #BE9E64 -16.87%, rgba(190, 158, 100, 0) 71.81%);
    border-radius: 30px;
} 

.main-bg {
    height: 100%;
    background-image: url("/images/main-bg.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-color: #141820;
    overflow-y: auto;
}

.main-height {
    min-height: calc(100vh - 180px);
}

.login-button {
    background-image: url("/images/login-button.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-color: #141820;
    border-radius: 10px;
    height: 80px;
}

.nav-bg {
    mix-blend-mode: overlay;
    background: linear-gradient(180deg, #0D1519 0%, rgba(41, 42, 51, 0.5) 100%);
    border-right: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-icon {
    font-size: 18px;
    color: white;
}

.nav-top {
    height: 90px;
}

.nav-top-bg {
    mix-blend-mode: overlay;
    background: linear-gradient(90deg, #121A1F 0%, #292A33 100%);
    border-bottom: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-top-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.nav-top-menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
}

.logout-button {
    border-radius: 100px;
    background: #990606;
    width: 48px;
    height: 48px;
}

.footer-bg { 
    background: linear-gradient(90deg, rgba(41, 42, 51, 0.44) 0%, #121A1F 100%);
    mix-blend-mode: overlay;
    border-bottom: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #BE9E64;
}

.footer-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-icon {
    width: 20px;
    height: 20px;
    padding: 0;
}

.first-footer {
    border-right: 1px solid #BE9E64;
}

.home-page-user-status {
    height: 800px;
}

.home-page-user-status-bg {
    background: linear-gradient(180deg, #0D1519 0%, rgba(41, 42, 51, 0.5) 100%);
    mix-blend-mode: overlay;
    border-right: 1px solid rgba(136, 136, 136, 0.24);
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.homepage-status-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.homepage-status-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.member-bg {
    background: url("/images/member-bg.png");
    background-size: 100% 100%;
}

.member-email {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    color: #BE9E64;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.member-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.member-remaining-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #BE9E64;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.member-renew-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 160%;
    color: #FFFFFF;
}

.member-renew-button {
    background: linear-gradient(180deg, #BEA264 0%, rgba(190, 158, 100, 0.1) 100%);
    border-radius: 10px;
    border: none;
}

.homepage-statistic-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}

.vertical-line {
    border-left: 1px solid #BE9E64;
}

.status-button {
    background: linear-gradient(180deg, #19EE07 0%, rgba(25, 238, 7, 0) 100%);
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.get-start-button {
    background: linear-gradient(180deg, #FFC700 0%, rgba(255, 199, 0, 0) 100%);
    border-radius: 5px;
    border: none;
    padding: 3px;
}

.service-card {
    height: 200px;
    width: 160px;
    background: linear-gradient(180deg, rgba(190, 158, 100, 0) -16%, #BEA264 137%);
    border-radius: 10px;
}

.more-info-card {
    height: 200px;
    width: 160px;
    background: linear-gradient(180deg, #121A1F -16%, rgba(18, 26, 31, 0.5) 137%);
    border-radius: 8px;
}

.service-icon-card {
    width: 80px;
    height: 80px;
}

.service-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.more-info-card-icon {
    font-size: 40px;
}

.signal-room-card-text-info {
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.signal-room-icon-card {
    margin-right: -6%
}

.signal-room-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.signal-room-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.title-register {
    font-weight: 400;
    font-size: 40px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.1px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.49) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-item-text {
    color: white;
}

.left-nav-active .nav-item-text, .left-nav-active .nav-icon {
    color: #BE9E64 !important;
}

.nav-item-active {
    background: #BE9E64;
    border-radius: 0px 8px 8px 0px;
    width: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.left-nav-active .nav-item-active {
    visibility: visible;
}

.history-item {
    background: rgba(18, 26, 31, 0.75);
    border-radius: 10px;
}

.history-text-1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.history-text-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #BE9E64;
}

.support-content {
    background: #121A1F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.support-input {
    width: 550px;
    background: #D9D9D9;
    border-radius: 10px;
}

.support-button {
    background: linear-gradient(180deg, #BE9E64 0%, rgba(190, 158, 100, 0.2) 100%);
    border-radius: 10px;
    border: none;
}

.support-button-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.service-bg {
    background: linear-gradient(180deg, rgba(190, 158, 100, 0) -16%, #BEA264 137%);
    border-radius: 10px 10px 0px 0px;
}

.service-card-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-card-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.service-card-text-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.service-card-button {
    background: linear-gradient(180deg, rgba(18, 26, 31, 0) 0%, #121A1F 100%);
    border-radius: 0px 0px 10px 10px;
}

.service-card-button-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-discount-text {
    position: relative;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
.service-discount-text:before {
    position: absolute;
    content: "";
    left: -10px;
    top: 50%;
    right: -10px;
    border-top: 3px solid #FF0707;
    
    -webkit-transform:rotate(-11deg);
    -moz-transform:rotate(-11deg);
    -ms-transform:rotate(-11deg);
    -o-transform:rotate(-11deg);
    transform:rotate(-11deg);
}

.service-price-text-primary {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-transform: capitalize;
    color: #FFC700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-price-text-secondary {
    font-weight: 400;
    font-size: 48px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-save-price-text {
    font-weight: 400;
    font-size: 20px;
    text-transform: capitalize;
    color: #19EE07;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.service-discount-layout {
    visibility: hidden;
}

.service-discount-second-layout {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.radio-button-service {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}