
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    font-family: 'Poppins' !important;
    height:100%;
    min-height:100%;
    overflow-y: auto;
}


.login-bg {
    background: linear-gradient(360deg, #BE9E64 -16.87%, rgba(190, 158, 100, 0) 71.81%);
    border-radius: 30px;
} 

.main-bg {
    height: 100%;
    background-image: url("/images/main-bg.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-color: #141820;
    overflow-y: auto;
}

.main-height {
    min-height: calc(100vh - 180px);
}

.login-button {
    background-image: url("/images/login-button.png");
    background-blend-mode: luminosity;
    background-size: cover;
    background-color: #141820;
    border-radius: 10px;
    height: 80px;
}

.nav-bg {
    mix-blend-mode: overlay;
    background: linear-gradient(180deg, #0D1519 0%, rgba(41, 42, 51, 0.5) 100%);
    border-right: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-icon {
    font-size: 18px;
    color: white;
}

.nav-top {
    height: 90px;
}

.nav-top-bg {
    mix-blend-mode: overlay;
    background: linear-gradient(90deg, #121A1F 0%, #292A33 100%);
    border-bottom: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.nav-top-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.nav-top-menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
}

.logout-button {
    border-radius: 100px;
    background: #990606;
    width: 48px;
    height: 48px;
}

.footer-bg { 
    background: linear-gradient(90deg, rgba(41, 42, 51, 0.44) 0%, #121A1F 100%);
    mix-blend-mode: overlay;
    border-bottom: 1px solid rgba(136, 136, 136, 0.24);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.footer-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-transform: capitalize;
    color: #BE9E64;
}

.footer-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.footer-icon {
    width: 20px;
    height: 20px;
    padding: 0;
}

.first-footer {
    border-right: 1px solid #BE9E64;
}